// Variables

$primary: #94f899;
$secondary: #82debe;
$grey: #bfbfbf;
$dark: #23272f;
$gradient: linear-gradient(0deg,#94f899, #82debe);

:root {
  --primary: #94f899;
  --secondary: #82debe;
  --grey: #bfbfbf;
  --dark: #23272f;
  --gradient: linear-gradient(0deg,#94f899, #82debe);

}

@import url('./_base.scss');
